@import 'css/bootstrap.min.css';

/* get the required local files */
@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

/* use the font */
body {
    font-family: sans-serif;
    color: #4f4f4f
}

.toast{
    box-shadow: none;
}

.title-blue{
    color:#dc5c35;
}

.bg-danger{
    background-color: #dc5c35 !important;
}

#on-off{
    background-color: #dc5c35;
    border-color: #dc5c35;
}

.left-col{
    background:#fbfbfb;
    height: 100%;
    width: 300px;
}

.form-select{
    border: 1px solid #ffffff;
}

.right-col{
    width: 580px;
}

.form-switch .form-check-input{
    width: 5em;
    height: 1.7em;
}

.on-off-switch{
    margin: 2em;
    margin-left: 110px;
}

.on-off-switch label{
    margin-top: 5px;
    margin-left: 1.2em;
}

.select-server{
    width: 80%;
    margin-left: 35px;
    margin-top: 50px;
}

main{
    height: 510px;
}

.form-label{
    width: 180px;
}

.form-range{
    display: inline-block;
    width: 50%;
}

.row > *, .row {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

:root {
    --bs-blue: #20c996;
}

input[type=range]::-webkit-slider-thumb {
    background: #20c996;
}
input[type=range]::-moz-range-thumb {
    background: #20c996;
}
input[type=range]::-ms-thumb {
    background: #20c996;
}